/* Source code was created by CDP Team - Cuộc thi tìm kiếm tài năng JS */

@import url("https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: black;
  z-index: 99;
  transition: left 1s ease;
  pointer-events: none;
}

body {
  background-image: url(images/bg-game.webp);
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
  overflow: hidden;
}

.bg-blur {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
}

.e-card {
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0, 0, 0, 0.45);
  position: relative;
  width: 400px;
  height: 320px;
  border-radius: 16px;
  overflow: hidden;
}

.wave {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #f4c531, #f4c531 60%, #f26430);
}

.wave.lost {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg, #ec4026, #cd1e1b 60%, #f26430);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 28px;
  position: absolute;
  top: 1.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 20px;
  font-weight: 100;
  position: relative;
  top: 1em;
}

.wave:nth-child(2),
.wave:nth-child(3) {
  top: 210px;
}

.playing .wave {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave:nth-child(2) {
  animation-duration: 4000ms;
}

.wave:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave:nth-child(3) {
  animation-duration: 5000ms;
}

.wave:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* fireworks */
.fire {
  width: 100%;
  position: absolute;
  /* Đặt vị trí tuyệt đối */
  top: 0;
  /* Đặt vị trí trên cùng */
  left: 0;
  /* Đặt vị trí bên trái */
  z-index: 9999;
}

.pyro>.before,
.pyro>.after {
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  box-shadow: 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff, 0 0 #fff,
    0 0 #fff, 0 0 #fff, 0 0 #fff;
  -moz-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 9s position linear infinite backwards;
  -webkit-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 9s position linear infinite backwards;
  -o-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 9s position linear infinite backwards;
  -ms-animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 9s position linear infinite backwards;
  animation: 1s bang ease-out infinite backwards,
    1s gravity ease-in infinite backwards, 9s position linear infinite backwards;
}

.pyro>.after {
  -moz-animation-delay: 1.25s, 1.25s, 1.25s;
  -webkit-animation-delay: 1.25s, 1.25s, 1.25s;
  -o-animation-delay: 1.25s, 1.25s, 1.25s;
  -ms-animation-delay: 1.25s, 1.25s, 1.25s;
  animation-delay: 1.25s, 1.25s, 1.25s;
  -moz-animation-duration: 1.25s, 1.25s, 6.25s;
  -webkit-animation-duration: 1.25s, 1.25s, 6.25s;
  -o-animation-duration: 1.25s, 1.25s, 6.25s;
  -ms-animation-duration: 1.25s, 1.25s, 6.25s;
  animation-duration: 1.25s, 1.25s, 6.25s;
}

@-webkit-keyframes bang {
  to {
    box-shadow: 227px -161.6666666667px #6200ff,
      -184px 70.3333333333px darkorange, -121px -119.6666666667px #2f00ff,
      187px -53.6666666667px #40ff00, 67px -38.6666666667px #ffaa00,
      229px -326.6666666667px #00ff73, -27px -34.6666666667px #2f00ff,
      hide -65px 39.3333333333px #9500ff, -16px -160.6666666667px #88ff00,
      210px -49.6666666667px #00ff11, 118px -257.6666666667px #c4ff00,
      -182px -320.6666666667px #dd00ff, 182px -160.6666666667px #00ff59,
      -137px -385.6666666667px #37ff00, -125px -356.6666666667px #00ff84,
      -243px -155.6666666667px #99ff00, 125px -271.6666666667px #ff00e6,
      123px -193.6666666667px #00d0ff, 152px -270.6666666667px #ff7700,
      195px -136.6666666667px #ff0062, 214px -283.6666666667px #37ff00,
      243px -210.6666666667px #8cff00, -91px -19.6666666667px #b7ff00,
      -95px 34.3333333333px #00ff66, -25px 31.3333333333px #ff002f,
      27px -164.6666666667px #003cff, 63px -204.6666666667px #00ffea,
      242px 18.3333333333px #00ffaa, 141px -149.6666666667px #91ff00,
      122px -189.6666666667px #fff200, 248px -53.6666666667px #00a2ff,
      43px -242.6666666667px #22ff00, -127px -194.6666666667px #b300ff,
      130px -85.6666666667px #5eff00, 196px 28.3333333333px #00ff44,
      -177px -267.6666666667px #00ffbb, -97px -360.6666666667px #ff0009,
      -97px -62.6666666667px #00ffa2, 123px -147.6666666667px #84ff00,
      38px -386.6666666667px lime, -79px -211.6666666667px #00ff44,
      150px -291.6666666667px #ff00dd, -148px -49.6666666667px #00ffee,
      74px -376.6666666667px #ffbb00, 223px -77.6666666667px #1500ff,
      -152px 4.3333333333px #91ff00, 198px -354.6666666667px #00ffc8,
      -218px -82.6666666667px #9500ff, -71px -390.6666666667px #0055ff,
      104px -321.6666666667px #5eff00, -103px 14.3333333333px #0015ff;
  }
}

@-moz-keyframes bang {
  to {
    box-shadow: 227px -161.6666666667px #6200ff,
      -184px 70.3333333333px darkorange, -121px -119.6666666667px #2f00ff,
      187px -53.6666666667px #40ff00, 67px -38.6666666667px #ffaa00,
      229px -326.6666666667px #00ff73, -27px -34.6666666667px #2f00ff,
      -65px 39.3333333333px #9500ff, -16px -160.6666666667px #88ff00,
      210px -49.6666666667px #00ff11, 118px -257.6666666667px #c4ff00,
      -182px -320.6666666667px #dd00ff, 182px -160.6666666667px #00ff59,
      -137px -385.6666666667px #37ff00, -125px -356.6666666667px #00ff84,
      -243px -155.6666666667px #99ff00, 125px -271.6666666667px #ff00e6,
      123px -193.6666666667px #00d0ff, 152px -270.6666666667px #ff7700,
      195px -136.6666666667px #ff0062, 214px -283.6666666667px #37ff00,
      243px -210.6666666667px #8cff00, -91px -19.6666666667px #b7ff00,
      -95px 34.3333333333px #00ff66, -25px 31.3333333333px #ff002f,
      27px -164.6666666667px #003cff, 63px -204.6666666667px #00ffea,
      242px 18.3333333333px #00ffaa, 141px -149.6666666667px #91ff00,
      122px -189.6666666667px #fff200, 248px -53.6666666667px #00a2ff,
      43px -242.6666666667px #22ff00, -127px -194.6666666667px #b300ff,
      130px -85.6666666667px #5eff00, 196px 28.3333333333px #00ff44,
      -177px -267.6666666667px #00ffbb, -97px -360.6666666667px #ff0009,
      -97px -62.6666666667px #00ffa2, 123px -147.6666666667px #84ff00,
      38px -386.6666666667px lime, -79px -211.6666666667px #00ff44,
      150px -291.6666666667px #ff00dd, -148px -49.6666666667px #00ffee,
      74px -376.6666666667px #ffbb00, 223px -77.6666666667px #1500ff,
      -152px 4.3333333333px #91ff00, 198px -354.6666666667px #00ffc8,
      -218px -82.6666666667px #9500ff, -71px -390.6666666667px #0055ff,
      104px -321.6666666667px #5eff00, -103px 14.3333333333px #0015ff;
  }
}

@-o-keyframes bang {
  to {
    box-shadow: 227px -161.6666666667px #6200ff,
      -184px 70.3333333333px darkorange, -121px -119.6666666667px #2f00ff,
      187px -53.6666666667px #40ff00, 67px -38.6666666667px #ffaa00,
      229px -326.6666666667px #00ff73, -27px -34.6666666667px #2f00ff,
      -65px 39.3333333333px #9500ff, -16px -160.6666666667px #88ff00,
      210px -49.6666666667px #00ff11, 118px -257.6666666667px #c4ff00,
      -182px -320.6666666667px #dd00ff, 182px -160.6666666667px #00ff59,
      -137px -385.6666666667px #37ff00, -125px -356.6666666667px #00ff84,
      -243px -155.6666666667px #99ff00, 125px -271.6666666667px #ff00e6,
      123px -193.6666666667px #00d0ff, 152px -270.6666666667px #ff7700,
      195px -136.6666666667px #ff0062, 214px -283.6666666667px #37ff00,
      243px -210.6666666667px #8cff00, -91px -19.6666666667px #b7ff00,
      -95px 34.3333333333px #00ff66, -25px 31.3333333333px #ff002f,
      27px -164.6666666667px #003cff, 63px -204.6666666667px #00ffea,
      242px 18.3333333333px #00ffaa, 141px -149.6666666667px #91ff00,
      122px -189.6666666667px #fff200, 248px -53.6666666667px #00a2ff,
      43px -242.6666666667px #22ff00, -127px -194.6666666667px #b300ff,
      130px -85.6666666667px #5eff00, 196px 28.3333333333px #00ff44,
      -177px -267.6666666667px #00ffbb, -97px -360.6666666667px #ff0009,
      -97px -62.6666666667px #00ffa2, 123px -147.6666666667px #84ff00,
      38px -386.6666666667px lime, -79px -211.6666666667px #00ff44,
      150px -291.6666666667px #ff00dd, -148px -49.6666666667px #00ffee,
      74px -376.6666666667px #ffbb00, 223px -77.6666666667px #1500ff,
      -152px 4.3333333333px #91ff00, 198px -354.6666666667px #00ffc8,
      -218px -82.6666666667px #9500ff, -71px -390.6666666667px #0055ff,
      104px -321.6666666667px #5eff00, -103px 14.3333333333px #0015ff;
  }
}

@-ms-keyframes bang {
  to {
    box-shadow: 227px -161.6666666667px #6200ff,
      -184px 70.3333333333px darkorange, -121px -119.6666666667px #2f00ff,
      187px -53.6666666667px #40ff00, 67px -38.6666666667px #ffaa00,
      229px -326.6666666667px #00ff73, -27px -34.6666666667px #2f00ff,
      -65px 39.3333333333px #9500ff, -16px -160.6666666667px #88ff00,
      210px -49.6666666667px #00ff11, 118px -257.6666666667px #c4ff00,
      -182px -320.6666666667px #dd00ff, 182px -160.6666666667px #00ff59,
      -137px -385.6666666667px #37ff00, -125px -356.6666666667px #00ff84,
      -243px -155.6666666667px #99ff00, 125px -271.6666666667px #ff00e6,
      123px -193.6666666667px #00d0ff, 152px -270.6666666667px #ff7700,
      195px -136.6666666667px #ff0062, 214px -283.6666666667px #37ff00,
      243px -210.6666666667px #8cff00, -91px -19.6666666667px #b7ff00,
      -95px 34.3333333333px #00ff66, -25px 31.3333333333px #ff002f,
      27px -164.6666666667px #003cff, 63px -204.6666666667px #00ffea,
      242px 18.3333333333px #00ffaa, 141px -149.6666666667px #91ff00,
      122px -189.6666666667px #fff200, 248px -53.6666666667px #00a2ff,
      43px -242.6666666667px #22ff00, -127px -194.6666666667px #b300ff,
      130px -85.6666666667px #5eff00, 196px 28.3333333333px #00ff44,
      -177px -267.6666666667px #00ffbb, -97px -360.6666666667px #ff0009,
      -97px -62.6666666667px #00ffa2, 123px -147.6666666667px #84ff00,
      38px -386.6666666667px lime, -79px -211.6666666667px #00ff44,
      150px -291.6666666667px #ff00dd, -148px -49.6666666667px #00ffee,
      74px -376.6666666667px #ffbb00, 223px -77.6666666667px #1500ff,
      -152px 4.3333333333px #91ff00, 198px -354.6666666667px #00ffc8,
      -218px -82.6666666667px #9500ff, -71px -390.6666666667px #0055ff,
      104px -321.6666666667px #5eff00, -103px 14.3333333333px #0015ff;
  }
}

@keyframes bang {
  to {
    box-shadow: 227px -161.6666666667px #6200ff,
      -184px 70.3333333333px darkorange, -121px -119.6666666667px #2f00ff,
      187px -53.6666666667px #40ff00, 67px -38.6666666667px #ffaa00,
      229px -326.6666666667px #00ff73, -27px -34.6666666667px #2f00ff,
      -65px 39.3333333333px #9500ff, -16px -160.6666666667px #88ff00,
      210px -49.6666666667px #00ff11, 118px -257.6666666667px #c4ff00,
      -182px -320.6666666667px #dd00ff, 182px -160.6666666667px #00ff59,
      -137px -385.6666666667px #37ff00, -125px -356.6666666667px #00ff84,
      -243px -155.6666666667px #99ff00, 125px -271.6666666667px #ff00e6,
      123px -193.6666666667px #00d0ff, 152px -270.6666666667px #ff7700,
      195px -136.6666666667px #ff0062, 214px -283.6666666667px #37ff00,
      243px -210.6666666667px #8cff00, -91px -19.6666666667px #b7ff00,
      -95px 34.3333333333px #00ff66, -25px 31.3333333333px #ff002f,
      27px -164.6666666667px #003cff, 63px -204.6666666667px #00ffea,
      242px 18.3333333333px #00ffaa, 141px -149.6666666667px #91ff00,
      122px -189.6666666667px #fff200, 248px -53.6666666667px #00a2ff,
      43px -242.6666666667px #22ff00, -127px -194.6666666667px #b300ff,
      130px -85.6666666667px #5eff00, 196px 28.3333333333px #00ff44,
      -177px -267.6666666667px #00ffbb, -97px -360.6666666667px #ff0009,
      -97px -62.6666666667px #00ffa2, 123px -147.6666666667px #84ff00,
      38px -386.6666666667px lime, -79px -211.6666666667px #00ff44,
      150px -291.6666666667px #ff00dd, -148px -49.6666666667px #00ffee,
      74px -376.6666666667px #ffbb00, 223px -77.6666666667px #1500ff,
      -152px 4.3333333333px #91ff00, 198px -354.6666666667px #00ffc8,
      -218px -82.6666666667px #9500ff, -71px -390.6666666667px #0055ff,
      104px -321.6666666667px #5eff00, -103px 14.3333333333px #0015ff;
  }
}

@-webkit-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-moz-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-o-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-ms-keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@keyframes gravity {
  to {
    transform: translateY(200px);
    -moz-transform: translateY(200px);
    -webkit-transform: translateY(200px);
    -o-transform: translateY(200px);
    -ms-transform: translateY(200px);
    opacity: 0;
  }
}

@-webkit-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-moz-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-o-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@-ms-keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

@keyframes position {

  0%,
  19.9% {
    margin-top: 10%;
    margin-left: 40%;
  }

  20%,
  39.9% {
    margin-top: 40%;
    margin-left: 30%;
  }

  40%,
  59.9% {
    margin-top: 20%;
    margin-left: 70%;
  }

  60%,
  79.9% {
    margin-top: 30%;
    margin-left: 20%;
  }

  80%,
  99.9% {
    margin-top: 30%;
    margin-left: 80%;
  }
}

.wrapper {
  box-sizing: content-box;
  /* width: 26.87em; */
  /* padding: 2.5em 3em; */
  /* background: linear-gradient(170deg, rgba(58, 56, 56, 0.623) 0%, rgb(31, 31, 31) 100%); */
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 0.6em;
  /* box-shadow: 0 0.9em 2.8em rgba(86, 66, 0, 0.2); */
  background-size: 300% 300%;
  animation: changeColor 10s ease infinite;
}

.game-container {
  position: relative;
  width: 100%;
  display: grid;
  gap: 0.6em;
  justify-content: center;
  align-items: center;
}

.stats-container {
  text-align: right;
  margin-bottom: 2.8em;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#level {
  font-size: 1.4rem;
  margin-right: 3rem;
}

#time {
  font-size: 1.4rem;
}

.stats-container span {
  font-weight: 600;
}

.card-container {
  position: relative;
  width: 6.25em;
  height: 6.25em;
  cursor: pointer;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card-before,
.card-after {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid #000000;
  transition: transform 1s ease;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.card-after img,
.card-before span {
  transform: translateZ(35px);
}

.card-before {
  background-color: #f4c531;
  font-size: 2.8em;
  font-weight: 600;
}

.card-after {
  z-index: 100;
  background-color: #ffffff;
  transform: rotateY(180deg);
}

.card-container.flipped .card-before {
  transform: rotateY(-180deg);
}

.card-container.flipped .card-after {
  transform: rotateY(0deg);
}

.controls-container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  top: 0;
  background-size: 300% 300%;
  animation: changeColor 10s ease infinite;
}

@keyframes changeColor {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 100% 100%;
  }

  100% {
    background-position: 0% 0%;
  }
}

.wrap-action {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 70px;
  gap: 20px;
}

.wrap-action .wrap-image {
  width: 225px;
  height: 225px;
  border: 3px solid white;
  border-radius: 10px;
  overflow: hidden;
}

.wrap-action .wrap-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes changeColor {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 100% 0;
  }

  100% {
    background-position: 0 0;
  }
}

button {
  border: none;
  border-radius: 0.3em;
  padding: 1em 1.5em;
  cursor: pointer;
}

.btn-exit {
  transition: 0.1s ease;
  transform: scale(0);
}


.btn-exit,
.btn-action {
  transition: 0.8s;
  background-size: 280% auto;
  box-shadow: 0px 0px 20px rgba(71, 184, 255, 0.5),
    0px 5px 5px -1px rgba(58, 125, 233, 0.25),
    inset 4px 4px 8px rgba(175, 230, 255, 0.5),
    inset -4px -4px 8px rgba(19, 95, 216, 0.35);
}


#btn-escape,
.btn-exit,
#play-again,
#next-level,
#stop {
  font-size: 1.1em;
  color: #ffffff;
  background-image: linear-gradient(325deg,
      hsla(217 100% 56% / 1) 0%,
      hsla(194 100% 69% / 1) 55%,
      hsla(217 100% 56% / 1) 90%);
}

.btn-exit:hover,
.btn-action:hover {
  background-position: right top;
}

#stop {
  background-image: linear-gradient(325deg,
      rgb(7, 7, 7) 0%,
      rgb(56, 65, 67) 55%,
      rgb(0, 0, 0) 90%);
}

#next-level,
#play-again {
  background-image: linear-gradient(325deg,
      rgb(12, 181, 12) 0%,
      rgb(21, 255, 68) 55%,
      rgb(12, 181, 12) 90%);
}

.container-card-exit {
  position: absolute;
  top: 50%;
  left: 50%;
  background: rgba(0, 0, 0, 0.734);
  width: 100%;
  height: 100%;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%) scale(0);
}

.card-exit {
  padding: 50px;
  padding-top: 80px;
  border: none;
  border-radius: 10px;
  display: flex;
  gap: 80px;
}

.card-exit button {
  font-size: 1.2rem;
}

.card-exit button:nth-child(2) {
  transform: translateY(-40px) scale(0);
}

.wrap-action-win {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 2.8rem;
}

.lose-game-img img {
  width: 100px;
  height: auto;
  object-fit: cover;
}

#play-again.active {
  display: none;
}

#next-level.active {
  display: none;
}

.hide {
  display: none;
}

#result {
  text-align: center;
}

#result h2 {
  font-size: 2.5em;
}

#result h4 {
  font-size: 1.8em;
  margin: 0.6em 0 1em 0;
}

img {
  width: 70%;
  height: 70%;
}

.controls-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0px 20px;
  color: white;
  text-shadow: 2px 2px rgb(116, 116, 116);
  text-transform: uppercase;
  cursor: pointer;
  border: 2px solid white;
  letter-spacing: 1px;
  font-weight: 600;
  font-size: 40px;
  background-color: hsl(49deg 98% 60%);
  border-radius: 50px;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale 0.3s infinite alternate linear;
}

.controls-container button:active {
  transform: scale(0.9);
  transition: all 100ms ease;
}

.controls-container button svg {
  transition: all 0.5s ease;
  z-index: 2;
}

.controls-container .play {
  transition: all 0.5s ease;
  transition-delay: 300ms;
}

.controls-container button:hover svg {
  transform: scale(3) translate(50%);
}

.controls-container .now {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
  transition: all 0.5s ease;
  z-index: 2;
}

.controls-container button:hover .now {
  transform: translateX(10px);
  transition-delay: 300ms;
}

.controls-container button:hover .play {
  transform: translateX(200%);
  transition-delay: 300ms;
}

.controls-container h1 {
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  position: relative;
}

.content h2 {
  position: absolute;
  color: #fff;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  white-space: nowrap;
}

.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px white;
}

.content h2:nth-child(2) {
  color: white;
  animation: animate 2s ease-in-out infinite;
}

@keyframes animate {

  0%,
  100% {
    clip-path: polygon(0 43%,
        15% 43%,
        22% 45%,
        40% 60%,
        54% 63%,
        81% 58%,
        100% 47%,
        99% 100%,
        0% 100%);
  }

  50% {
    clip-path: polygon(0 60%,
        18% 66%,
        34% 67%,
        51% 62%,
        70% 48%,
        83% 43%,
        100% 41%,
        99% 100%,
        0% 100%);
  }
}

@keyframes scale {
  to {
    transform: scale(1.05);
  }
}

/* Source code was created by CDP Team - Cuộc thi tìm kiếm tài năng JS */